@tailwind base;
@tailwind components;
@tailwind utilities;

.prose * {
  margin: 0;
}

.prose > * + * {
  margin-top: 0.5rem;
}

.prose h1 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.prose h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.prose h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a5b4fc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}
